@use '../../assets/styles/abstract/variables' as *;
@use '../../assets/styles/abstract/functions' as *;
@use '../../assets/styles/abstract/mixins' as *;

.authentification_form {
  background: $background-grey;
  border-radius: rem(5);
  padding: rem(100);
  text-align: center;

  &__datasource {
    padding: rem(20);
    border-radius: rem(15);
  }

  &__radio {
    accent-color: $primary-contrast;
  }

  &__button {
    @include main-button;
  }
}
