@use '../../assets/styles/abstract/variables' as *;
@use '../../assets/styles/abstract/functions' as *;

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $secondary-color;
    padding: rem(18) rem(90) rem(12) rem(28);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

    &__navigation {
        width: 100%;
        max-width: 994px;
        display: flex;
        justify-content: space-between;
        margin-left: rem(91);

        a {
            text-decoration: none;
            color: white;
            font-size: rem(24);

            &:visited,
            &:active {
                color: white;
            }
        }
    }
}
