@use '../../assets/styles/abstract/variables' as *;
@use '../../assets/styles/abstract/functions' as *;

.radialbargraph {
  position: relative;
  width: 17.9vw;
  max-width: rem(258);
  height: 18.2vw;
  max-height: rem(263);

  &__radialbarchart {
    background: $background-grey;
    border-radius: rem(5);
  }
}

.chart_title--radialbargraph {
  color: $x-dark-grey;
}
