@use '../../assets/styles/abstract/variables' as *;
@use '../../assets/styles/abstract/functions' as *;

main {
  display: flex;

  .page-content {
    margin: auto;
    padding: rem(34) rem(36) rem(43) rem(36);

    @media #{$large-screen} {
      padding: rem(68) rem(90) rem(86) rem(107);
    }
  }
}
