@use '../../assets/styles/abstract/variables' as *;
@use '../../assets/styles/abstract/functions' as *;

.radargraph {
  position: relative;
  width: 17.9vw;
  max-width: rem(258);
  min-width: rem(183);
  height: 18.2vw;
  max-height: rem(263);
  min-height: rem(186);

  &__radarchart {
    background: $secondary-contrast;
    border-radius: rem(5);

    &--ticks > g {
      font-size: rem(9);

      @media #{$medium-screen} {
        font-size: 0.9vw;
      }
      @media #{$xxl-screen} {
        font-size: rem(12);
      }

      g:nth-child(1) {
        transform: translateY(5px);
      }
      g:nth-child(2) {
        transform: translateY(5px);
      }
      g:nth-child(3) {
        transform: translateY(15px);
      }
      g:nth-child(4) {
        transform: translateY(5px);
      }
      g:nth-child(5) {
        transform: translateY(5px);
      }
      g:nth-child(6) {
        transform: translateY(-6px);
      }
    }
  }
}
