@use '../../assets/styles/abstract/variables' as *;
@use '../../assets/styles/abstract/functions' as *;

.bargraph {
  position: relative;
  width: 58vw;
  max-width: rem(835);
  min-width: rem(593);
  height: 22.2vw;
  max-height: rem(320);
  min-height: rem(227);

  &__barchart {
    position: absolute;
    top: 0;
    right: 0;
    background: $background-grey;
    border-radius: rem(5);

    &--legend {
      color: $dark-grey;
      font-size: rem(14);
      margin-left: rem(10);
      margin-right: rem(30);
    }
  }
}
