@use '../../../../assets/styles/abstract/variables' as *;
@use '../../../../assets/styles/abstract/functions' as *;

.sidebar__content--profile {
  display: flex;
  flex-direction: column;
  gap: rem(20);

  img {
    width: 4.45vw;
    max-width: rem(64);
    min-width: rem(45);
  }
}
