@use '../../assets/styles/abstract/variables' as *;
@use '../../assets/styles/abstract/functions' as *;

.profile {
  &__header {
    font-size: rem(36);

    @media #{$large-screen} {
      font-size: rem(48);
    }
    &--name {
      color: $primary-color;
    }
    &--text {
      font-size: rem(14);
      font-weight: $regular-weight;
      margin-top: rem(20);

      @media #{$large-screen} {
        font-size: rem(18);
        margin-top: rem(30);
      }
    }
  }

  &__maincontent {
    display: flex;
    margin-top: rem(40);

    @media #{$large-screen} {
      margin-top: rem(78);
    }
  }

  &__chartgroup {
    display: flex;
    justify-content: space-between;
    margin-top: rem(30);
  }
  &__userkeydata {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: rem(30);
  }
}
