@use '../../assets/styles/abstract/variables' as *;
@use '../../assets/styles/abstract/functions' as *;

.sidebar {
  flex-shrink: 0;
  width: 8.125vw;
  max-width: rem(117);
  min-width: rem(90);
  background: $secondary-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: rem(240);
  padding-top: rem(60);
  position: relative;

  &__copyright {
    color: white;
    font-size: rem(12);
    writing-mode: vertical-rl;
    transform: rotate(-180deg);
    flex-shrink: 0;
    position: absolute;
    bottom: rem(60);
  }
}
