@use '../abstract/functions' as *;
@use '../abstract/variables' as *;

@mixin main-button {
  margin: rem(20);
  background: $primary-contrast;
  color: white;
  font-size: rem(24);
  border-radius: rem(10);
  padding: rem(20);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  transition: all 300ms linear;

  &:hover {
    box-shadow: none;
    transform: scale(0.98);
  }
}
