// ######## COLORS ##########
$primary-color: #ff0101;
$secondary-color: #020203;
$primary-contrast: #e60000;
$secondary-contrast: #282d30;
$light-grey: #9b9eab;
$dark-grey: #74798c;
$x-dark-grey: #20253a;

$background-grey: #fbfbfb;

// ######## TYPOGRAPHIE ##########
// fonts
$base-font: 'Roboto', sans-serif;

// weight
$regular-weight: 400;
$medium-weight: 500;
$bold-weight: 700;

// ######## RESPONSIVE BREAKPOINTS ##########
$medium-screen: 'only screen and (min-width: 1024px)';
$large-screen: 'only screen and (min-width: 1280px)';
$xxl-screen: 'only screen and (min-width: 1440px)';
